.job-listings {
  padding: 1rem;
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* ✅ Standart destek */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
