@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.job-card-animate {
  animation-name: fadeScaleIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

footer {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
