/* src/css/LandingPage.css */
.hero {
  background-color: #f0f9ff;  /* Açık mavi-beyaz rengi */
  padding: 5rem 0;
  text-align: center;
}

.hero img {
  display: none;  /* Logo resmini kaldırıyoruz */
}

.hero h1 {
  color: #007bff;  /* YAZI rengini mavi yapıyoruz */
}

.hero p {
  color: #555;  /* Daha açık gri renkte alt yazı */
}

.job-listings .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.job-listings .card:hover {
  transform: translateY(-10px);
}

.job-listings .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.job-listings .card-text {
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
