.online-exam {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.form-box {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
}

.form-box label {
  font-weight: 500;
  color: #333;
}

.form-box input,
.form-box textarea {
  font-size: 0.95rem;
}

textarea.form-control {
  min-height: 100px;
  resize: vertical;
}
